Package: me.conorthedev.counter
Name: counter
Version: 1.0
Architecture: iphoneos-arm
Description: How many times do you unlock your device?
Maintainer: ConorTheDev <conorthedev@gmail.com>
Author: ConorTheDev <conorthedev@gmail.com>
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.opa334.ccsupport
